/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp KDIV  &kp KP_N7  &kp KP_N8  &kp KP_N9  &kp BKSP
                &kp KMLT  &kp KP_N4  &kp KP_N5  &kp KP_N6  &kp TAB
                &kp KMIN  &kp KP_N1  &kp KP_N2  &kp KP_N3  &kp KP_ENTER
                &kp KPLS        &kp KP_N0       &kp KP_DOT 
            >;
        };

        fn {
            bindings = <
                &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans
                &trans &trans &trans
            >;
        };
    };
};
